@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato' !important;
  box-sizing: border-box;
  margin: 0;
}
div a.aktif{
  background-color: black;
}
.clicked{
  border-bottom: 2px black;
}