@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
}
nav a.active{
    font-size: 15px;
    font-weight: 800;
}

.clicked{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.aktif{
    color: #ffffff;
    background-color: #7E370C;    
    border-radius: 10px;
    width: 80%;
    height: 100px;
    margin:auto;
   
}
.bayar{
    scale: 1.1;
    transition-duration: 750ms;
}
